body {
    background: #0f172a;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
    padding: 30px;
}

h1, h2 {
    color: #38bdf8;
}

.menu a, .btn {
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 10px 15px;
    background: #38bdf8;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

pre {
    background: #020617;
    padding: 12px;
    border-left: 4px solid #38bdf8;
    overflow-x: auto;
}
.search-box {
    margin: 20px 0;
}

.search-box input {
    padding: 10px;
    width: 250px;
    font-size: 16px;
}
